html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  font-size: 14px;
}

a.logo {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}

a {
  color: #333333;
}

a:hover {
  color: black;
}

.navbar {
  background-color: white;
}

.navbar .navbar-toggler {
  background: #f5f5f5;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
  padding: 0.5rem 1rem;
}

.navbar .navbar-collapse .navbar-nav .nav-link {
  padding: 0.5rem 0;
  border-bottom: 2px solid #fff;
}

.navbar .navbar-collapse .navbar-nav .nav-link:hover, .navbar .navbar-collapse .navbar-nav .nav-link.active {
  border-bottom: 2px solid #ea623d;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}

.navbar .navbar-collapse.show .navbar-nav .nav-link {
  border-bottom: 2px solid #f5f5f5;
}

.navbar .navbar-collapse.show .navbar-nav .nav-link:hover, .navbar .navbar-collapse.show .navbar-nav .nav-link.active {
  border-bottom: 2px solid #ea623d;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 600;
}

.container {
  width: 1080px;
}

.header-breadcrumbs {
  background-color: #453951;
  color: white;
  padding: 4.5rem 0 0;
}

.header-breadcrumbs .container {
  padding: 20px 0;
  position: relative;
}

.header-breadcrumbs h1 {
  font-weight: 400;
  padding: 0 15px;
}

.header-breadcrumbs .breadcrumb {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  line-height: 2rem;
  background: none;
  border-radius: 0;
}

.header-breadcrumbs .breadcrumb a {
  color: white;
}

footer {
  padding: 50px 0;
  background-color: #2a272e;
}

footer .widget_title {
  color: #555258;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

footer .footer-link-orange {
  font-size: 18px;
  font-weight: 600;
  color: #ea623d;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-logo img {
  margin-right: 10px;
}

.footer-logo span {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

span.copyright {
  line-height: 2em;
}

.clients {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.clients li {
  background-color: #b1abb6;
  height: 110px;
  margin: 6px;
  padding: 0;
  display: inline-block;
  width: 23%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.photostream {
  margin: 0;
  padding: 0;
}

.photostream li {
  background-color: #6d6872;
  padding: 35px;
  margin: 2px;
  display: inline-block;
}

.img-container {
  background-color: #b1abb6;
  height: 100%;
}

.welcome,
.what-we-do,
.testimonials,
.what-we-are,
.our-team,
.our-clients,
.call-to-action {
  padding: 50px 0;
}

.social-subscribe {
  padding: 20px 0;
}

.our-clients,
.what-we-do {
  background-color: #f5f5f5;
}

.testimonials,
.social-subscribe {
  background-color: #453951;
}

.our-team .team {
  width: 100%;
  margin: 0 auto;
}

.our-team .team-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5em;
}

.our-team .team-position {
  letter-spacing: 2px;
  font-size: 13px;
  text-transform: uppercase;
}

.our-team .team-social {
  margin: 0;
  padding: 0;
  color: #999;
  font-size: 18px;
}

.our-team .team-social li {
  display: inline-block;
  margin-right: 14px;
}

.call-to-action .call2action {
  font-size: 20px;
  font-weight: 500;
}

.footer-tweet,
.footer-contact {
  color: #ccc;
}

.footer-tweet a,
.footer-contact a {
  color: #ea623d;
}

.tweet-date {
  color: #aaa;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.title-big {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3em;
  color: #333333;
}

.title-medium {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.title-small {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9f9f9f;
}

.title-3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 1rem;
}

.bg-services {
  background-color: #ea623d;
}

.media .fas {
  color: white;
  padding: 15px;
  border-radius: 50%;
}

.wwga-item {
  line-height: 2em;
  margin-top: 10px;
  margin-bottom: 50px;
}

.wwga-item strong {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: #333;
}

.wwga-item span {
  position: absolute;
  right: 10px;
}

.progress {
  height: 0.3em;
}

.progress-bar {
  height: 0.3em;
  background-color: #111;
}

.dark-text {
  color: #111;
}

ul.footer-social {
  display: inline;
  margin: 0;
  padding-left: 10px;
}

ul.footer-social li {
  display: inline;
  margin-right: 10px;
}

ul.footer-social li i {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 1.4em;
  color: white;
  background-color: #6a6174;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.subscribe-form {
  display: inline-block;
}

.subscribe-form input[type="text"] {
  padding: 9px;
  border: 2px solid #8f8897;
  background: transparent;
  color: #8f8897;
  width: 210px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 10px 0;
}

.subscribe-form input[type="text"]:hover, .subscribe-form input[type="text"]:focus-visible {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}
/*# sourceMappingURL=styles.css.map */