
$link-primary: #333333;

$text-primay: red;
$primary-link: red;


$bg-dark-custom: #453951;
$bg-light-custome: #f5f5f5;

$title-dark-color: #453951;
$sub-title-color: #8f8897;



$color-orange: #ea623d;